.calendar {
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  width: 90%;
  border-radius: 5px;
  max-width: 600px;
  margin: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month {
  background-color: #167e56;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  max-height: max-content;
}

.date {
  padding-bottom: 1em;
  width: 35%;
}

.days-of-week {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(7, calc(40vh / 8));
  justify-content: center;
  grid-auto-rows: calc(40vh / 10);
  grid-auto-flow: row;
  text-align: center;
  border-bottom: 0.1rem solid white;
  grid-column-gap: 0.5em;
  div {
    align-self: center;
    justify-self: center;
    padding: 0.5rem;
    width: 100%;
    font-weight: 600;
  }
}

.days {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(7, calc(40vh / 8));
  justify-content: center;
  grid-auto-flow: row;
  text-align: center;
  grid-gap: 0.5em;
  div {
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
  }
  div:hover:not(.today) {
    background-color: #557015;
    border: 0.2rem solid #082c1e;
    cursor: pointer;
  }
}

.next,
.prev {
  font-size: 200%;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}

.selected {
  background-color: #475e11;
}

@media only screen and (orientation: landscape) {
  .calendar {
    width: 45vw;
  }

  .days {
    grid-template-columns: repeat(7, calc(40vw / 8));
  }

  //     .month {

  //     }

  .days-of-week {
    grid-template-columns: repeat(7, calc(40vw / 8));
  }

  // .days {
  //   grid-template-columns: repeat(7, calc(40vw / 8));
  //   grid-auto-rows: calc(40vw / 8);
  // }

  //     .days-of-week {
  //       grid-template-columns: 3vw 3vw 3vw 3vw 3vw 3vw 3vw;
  //     }
}
