.card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 50%;
  max-height: 45vh;
}

.card {
  width: 90%;
  max-width: 600px;
  min-height: fit-content;
  border-radius: 8px;
  margin: 10px;
  font-size: 1.5rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem;
  h3 {
    width: 40%;
  }
  span {
    width: 40%;
    text-align: right;
  }
  p {
    margin: 1rem 0;
  }
}

// .card h2 {
//   margin-top: 5px;
//   margin-left: 10px;
// }
// .card h4 {
//   margin-left: 10px;
// }

// .card h3 {
//   margin-left: 8px;
// }

// .card p {
//   margin-bottom: 10px;
//   margin-left: 10px;
// }

// .blue-bg {
//   background-color: #281677;
// }

// .blue-glow {
//   border: 2px solid #28167788;
//   box-shadow: 0 0 15px #281677;
// }

// .yellow-bg {
//   background-color: #475e11;
// }

// .yellow-glow {
//   border: 2px solid #475e1188;
//   box-shadow: 0 0 15px #475e11;
// }

@media only screen and (orientation: landscape) {
  .card-container {
    width: 45vw;
    margin-right: 1.5rem;
    overflow-x: hidden;
    max-width: 600px;
    height: 90%;
    max-height: 95vh;
  }

  .card-container::-webkit-scrollbar {
    display: none;
  }

  .card {
    font-size: 100%;
  }
}
